<mat-card>

    <ng-container *ngIf="item; else loading">
        <img mat-card-image
             src="{{ item.profile }}">
        <mat-card-content>
            <p> {{ item.location}} </p>
            <p> {{ item.price }} / day </p>
        </mat-card-content>
        <mat-card-actions>
            <button #likesButton
                    mat-mini-fab
                    [color]="likesListService.isLiked(this.itemId) ? 'accent' : 'primary'"
                    (click)="toggleLikesStatus()">
                <mat-icon matListIcon> favorite </mat-icon>
            </button>
        </mat-card-actions>
    </ng-container>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>

</mat-card>
