<mat-tab-group [selectedIndex]="0"
               (selectedTabChange)="updateCategory($event.tab.textLabel, undefined)">

    <mat-tab *ngFor="let main of categoryService.getPrimaryCategory()"
             [label]="main">

        <mat-select [value]="categoryName[1]"
                    (selectionChange)="updateCategory(undefined, $event.source.value)">
            <mat-option *ngFor="let minor of categoryService.getSecondaryCategory(main)"
                        [value]="minor">
                {{ minor }}
            </mat-option>
        </mat-select>

        <ng-container *ngIf="!isLoading; else loading">
            <div fxLayout="raw warp">
                <app-item-card *ngFor="let itemId of itemIdList"
                               [itemId]="itemId">
                </app-item-card>
            </div>
        </ng-container>

        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>

        <mat-paginator #paginator
                       [length]="numOfItems"
                       [pageSize]="10"
                       [pageSizeOptions]="[5,10,20,30]">
        </mat-paginator>

    </mat-tab>

</mat-tab-group>
