<mat-form-field appearance="fill">
    <mat-label>類別</mat-label>
    <mat-select #selector>
        <mat-optgroup *ngFor="let primary of categoryService.getPrimaryCategory()"
                      [label]="primary">
            <mat-option *ngFor="let secondary of categoryService.getSecondaryCategory(primary)"
                        [value]="[primary, secondary]">
                {{ secondary }}
            </mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>

<ng-container *ngIf="!isLoading; else loading">
    <div fxLayout="raw warp">
        <app-item-card *ngFor="let itemId of itemIdList"
                       [itemId]="itemId">
        </app-item-card>
    </div>
</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5,10,20,30]">
</mat-paginator>
